body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: #fff;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background: #222;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  background: #333;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}
